h2 {
    background-color: #2B90B6;
    background-image: linear-gradient(45deg, #4EC5D4 10%, #146b8c 20%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.slidev-layout.cover h1 {
     color: white;
     font-size: 54pt;
     font-family: 'Times New Roman', Times, serif;
}
.slidev-layout.section h1 {
     color: white;
     font-size: 42pt;
     font-family: 'Times New Roman', Times, serif;
}
